@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
    --first-color: hsl(251, 75%, 65%);
    --first-color-light: hsl(251, 82%, 72%);
    --black-color: hsl(29, 16%, 10%);
    --text-color: hsl(29, 8%, 65%);
    --body-color: hsl(29, 100%, 99%);
    
    --body-font: 'Poppins', sans-serif;
    --h3-font-size: 1.125rem;
    --smaller-font-size: .75rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
    font-family: var(--body-font);
    background: linear-gradient(var(--first-color), var(--black-color));
    backdrop-filter: blur(5px);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    height: 100vh;
    margin-inline: 1.5rem;
    display: grid;
    place-items: center;
}

.card {
    position: relative;
    width: 256px;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    backdrop-filter: blur(5px);
    padding: 1.25rem 2rem 3rem;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .1);
    border: 1px solid rgba(255, 255, 255, .5);
    border-right: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);

    &__name {
        color: var(--first-color);
        font-size: var(--h3-font-size);
        font-weight: 500;
    }

    &__profession {
        color: var(--text-color);
        font-size: var(--smaller-font-size);
        font-weight: 500;
    }

    &__social {
        width: 200px;
        background-color: var(--first-color);
        padding: .75rem;
        border-radius: 3rem;
        text-align: initial;
        box-shadow: 0 8px 24px hsla(0, 0, 0, .2);
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1.75rem;
        margin: 0 auto;
        overflow: hidden;
        transform-origin: 18px 17px;

        &-control {
            position: relative;
            transform-origin: 18px 18px;
            transition: transform .45s ease;
            transform: rotate(0);
        }

        &-toggle {
            display: inline-flex;
            background-color: var(--first-color-light);
            color: var(--body-color);
            font-size: 1.25rem;
            padding: .5rem;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            z-index: 10;
        }

        &-text {
            display: block;
            color: var(--body-color);
            font-size: var(--smaller-font-size);
            font-weight: 500;
        }

        &-list {
            display: inline-flex;
            column-gap: .75rem;
            transform: rotate(135deg);
            transform-origin: 18px 17px;
        }

        &-link {
            display: inline-flex;
            background-color: var(--first-color-light);
            color: var(--body-color);
            font-size: 1.25rem;
            padding: 6px;
            border-radius: 50%;
        }

        &-text, &-list {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding-left: 3.1rem;
        }

        &-text {
            top: .5rem;
        }

        &.up-animation {
            animation: a 1s ease-in-out;
        }

        &.down-animation {
            animation: b 1s ease-in-out forwards;
        }
    }
}

.up-animation .card__social-control {
    transform: rotate(-135deg);
}

@keyframes a {
    0%, 100% {
        transform: rotate(0);
    }
    50%, 60% {
        transform: rotate(-3deg);
    }
    88% {
        transform: rotate(1deg);
    }
}

@keyframes b {
    0%, 100% {
        transform: rotate(0);
    }
    50%, 60% {
        transform: rotate(6deg);
    }
    88% {
        transform: rotate(-1deg);
    }
}

@keyframes c {
    0%, 100% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(40px);
    }
}
